{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}

    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

        <h1>funciona</h1>

    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}

{% endblock %}
{% block sonata_breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb">
        {% if _breadcrumb is empty %}
            {% if action is defined %}
                {% for menu in admin.breadcrumbs(action) %}
                    {% if not loop.last  %}
                        <li>
                            {% if menu.uri is not empty %}
                                <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                            {% else %}
                                {{ menu.label }}
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="active"><span>Stats</span></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {{ _breadcrumb|raw }}
        {% endif %}
    </ol>
{% endblock sonata_breadcrumb %}
